<h2>Add a Definition to $word.getWord()</h2>

<form action="/definitions" method="post">
  <input id="wordId" name="wordId" type="hidden" value="$word.getWordId()">
    <label for="description">Definition:</label><br>
    <textarea id="description" name="description" rows="5" cols="25">A furry mammal</textarea>
	<br>
  <button type="submit" class="btn">Add It!</button>
</form>