<h1>Add a word to the dictionary</h1>

<p>Go for it!</p>

<form action="/words" method="post">
  <label for="userInputWordName">Word</label>
  <input id="userInputWordName" name="userInputWordName" type="text">
  <button type="submit" class="btn">Add new word</button>
</form>